@import '../../styles/all';

.container {
  padding: 8px 0;
  color: $colorBlack;
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: $fontBold;
  cursor: pointer;
}

.filled {
  background-color: #E0F036;
  transition: background-color 0.2s ease-in;
  &:hover {
    background-color: #d5e433;
  }
}

.outlined {
  background: transparent;
  border: 1px solid #E0F036;
  color: $colorWhite;
  transition: background-color, color, border 0.2s ease-in;
  &:hover {
    background-color: rgba(25, 118, 210, 0.04);
    border: 1px solid #d5e433;
    color: $colorGrayLight;
  }
}

.defaultFontSize {
  font-size: 14px;
}

.smallFontSize {
  font-size: 11px;;
}

.default {
  padding-left: 20px;
  padding-right: 20px;
}

.small {
  padding-left: 10px;
  padding-right: 10px;
}

.medium {
  padding-left: 35px;
  padding-right: 35px;
}