@import '../../styles/all';

.headerTitle {
  font-size: 30px;
  font-family: $fontBold;
  color: $colorWhite;
  text-align: left;
  margin-bottom: 11px;
}

.subTitle {
  font-size: 16px;             
  color: $colorWhite;
  text-align: left;
  margin-bottom: 20px;
}

$gap: 20px;
$gapMobile: 16px;

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap;

  @media (max-width: $screen-lg) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $screen-md) {
    grid-template-columns: 1fr;
    gap: $gapMobile;
  }

  .rowsGrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: $gap;
    @media (max-width: $screen-sm) {
      gap: $gapMobile;
    }
  }
  .columnsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $gap;
    @media (max-width: $screen-sm) {
      gap: $gapMobile;
      &.statusesContainer {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6px;
      }
      &.metamuskGrid{
        grid-template-columns: 1fr;
      }
    }
  }
}

.dashboardCardContainer {
  padding: 15px 20px;
  background: #21203C;
  border-radius: 16px;
  // max-width: 370px;
  min-width: 100px;
}

.dashboardCoinPair {
  .titleWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .title {
      font-size: 30px;
      font-family: $fontMedium;
      margin-left: 10px;
    }
    .coinWrapper {
      position: relative;
      margin-bottom: 5px;;
      margin-right: 6px;
      .coinImg {
        width: 25px;
        height: 25px;
      }
      .wallfairLogo {
        position: absolute;
        bottom: -9px;
        left: 5px;
      }
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 4px;
    margin-bottom: 4px;
    &:last-child {
      border-bottom: none;
    }
    .value {
      font-family: $fontBold;
    }
  }

  .buttonsWrapper {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
  }
}

.dashboardStatusCard {
  text-align: left;
  .iconContainer {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 6px;
    @media (max-width: $screen-sm) {
      font-size: 25px;
    }
  }
  .subtitle {
    font-size: 14px;
    font-weight: 500;
    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dashboardMetamuskCard {
  @extend .centerContent;
  & > img {
    margin-bottom: 20px;
    @media (max-width: $screen-md) {
      margin-bottom: 0;
    }
  }
  @media (max-width: $screen-md) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.dashboardWfairCard {
  @extend .centerContent;
  .icon {
    margin-bottom: 20px;
  }
  @media (max-width: $screen-md) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.dashboardConvertCard {
  display: flex;
  align-items: center;
  height: 100%;
  .text {
    margin-left: 15px;
    font-size: 30px;
    font-weight: 500;
  }
}

.dashboardCompaniesCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .svgWrapper {
    width: 54px;
    height: 54px;
    margin: 0 2px;
    @media (max-width: $screen-lg) {
      width: 35px;
      height: 35px;
    }
  }
}

.hideMdDown {
  @media (max-width: $screen-md) {
    display: none;
  }
}

.hideMdUp {
  @media (min-width: $screen-md) {
    display: none;
  }
}